body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #9c9cc6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .inputEl {
    width: calc(100% - 30px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .buttonEl {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .buttonEl:hover {
    background-color: #218838;
  }
  
  .sectionEl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
  }
  
  .sectionEl span {
    flex-grow: 1;
  }
  
  .buttonEdit {
    background-color: #ffc107;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .buttonEdit:hover {
    background-color: #e0a800;
  }
  
  .buttonDelete {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .buttonDelete:hover {
    background-color: #c82333;
  }
  